:root {
  --main-width: 1360px;
  --search-input-padding: 18px;
  --search-btn-position: var(--search-input-padding);
}
.container__center {
  width: var(--main-width);
  margin: auto;
}
.container__mw {
  min-width: var(--main-width);
}
.div__mr {
  margin-right: 15px;
}
.div-divider1 {
  height: 16px;
  padding: 0;
  background-color: rgba(255, 255, 255, 0.5);
  width: 1px;
}
