:root {
  --main-width: 1360px;
  --search-input-padding: 18px;
}
.container__center {
  width: var(--main-width);
  margin: auto;
}
.container__mw {
  min-width: var(--main-width);
}
.div__mr {
  margin-right: 15px;
}
